<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<% if !@name %>
<form action="/name-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<% end %>


<div id='media'>
  <img src='https://i.imgur.com/jFaSxym.png/' alt='Fluffy Kitten' style='border: 3px dashed pink'>
</div>

